@use '../abstracts/variables' as vars;

body {
    font-family: vars.$font-main;
    margin: 0;
    padding: 0;
}

.page-container {
    min-height: 100vh;
    width: 1240px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}