@use "../abstracts/variables" as vars;

.dropdown {
    width: 1023px;
    height: 54px;
    margin-top: 40px;
    .dropdown__button {
        border: none;
        background-color: vars.$primary-color;
        color: vars.$secondary-color;
        width: 1023px;
        height: 54px;
        border-radius: 5px;
        .dropdown__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
        }
        .dropdown__button-text {
            font-size: 24px;
            font-weight: 700;
        }
        .dropdown__button-icon {
            font-size: 24px;
        }
    }
    .dropdown__list {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1023px;
        border-radius: 5px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: vars.$background-color;
        padding: 20px;
        .dropdown__list-item {
            width: 1023px;
            padding: 10px;
            font-size: 18px;
            color: vars.$secondary-color;
        }
    }
}