@use "../abstracts/variables" as vars;
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .error__title {
    color: vars.$primary-color;
    font-size: 288px;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 96px;
      margin-top: 60px;
    }
  }
  .error__text {
    text-align: center;
    color: vars.$primary-color;
    font-size: 24px;
    margin-bottom: 100px;
    margin-top: 50px;
    @media (max-width: 768px) {
      padding: 20px;
    }
  }
  .error__redirection {
    color: black;
    font-size: 18px;
    margin-bottom: 80px;
  }
}
