@use "../abstracts/variables" as vars;

.footer {
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  background: #000;
  color: vars.$secondary-color;
  text-align: center;
  padding: 40px;
  .logo {
    margin-bottom: 20px;
  }
  .logo__text {
    font-size: 24px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
