@use "../abstracts/variables" as vars;

.house__title {
  .house__title-content {
    font-size: 30px;
    color: vars.$primary-color;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 20px;
  }
  .house__title-location {
    margin: 0;
  }
}
