.house {
  display: flex;
  flex-direction: column;
  .first-line {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
  }
  .second-line {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
  }
  .third-line {
    display: flex;
    justify-content: space-between;
  }
}
